body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
   resize: vertical;
}

th, caption {
    text-align: center;
}

li.selected-theme {
    font-weight: bold;
}

.text-column {
    max-width:590px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    overflow: hidden;
    overflow-wrap:break-word;
}