@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <address>
        <i class="icon-envelope"></i><strong>E-mail: </strong>dmitriy.sirenko91@gmail.com<br />
        <i class="icon-envelope"></i><strong>Skype: </strong>airbites13
    </address>
</div>